In [ ]:
#variable 
#python is called dynamically typed language/ loosely typed
#That means we dont need to mention data type like c or c++ -c/c++ strongly typed
#Loosely typed programming languages are languages that do not
#require you to specify the data type of a variable when declaring it

a=3 #int
name="fardin" #string
pi=3.1416 #double or float
b=True #boolean

In [ ]:
#type-casting
a = 5
b=str(a) #int to string

In [105]:
#input and output
a=int(input("Enter A number: ")) #default input takes string so we have to convert it into int using int()
print(a)
print()#print by default print new-line

name = input("Enter your Name: ")
print(name)
print()

a,b,c=input("Enter 3 number").split() # split () method use to separate or The split () method splits a string into a list
print(a," ",b," ",c)# 1   2   3

Enter A number: 5
5

Enter your Name: fardin
fardin

Enter 3 number1 2 3
1   2   3

In [108]:
#condition
n=5
if n== 5:
    print("its 5")
else:
    print("its not 5")
    
n=7
if n <=10 and n >=0:
    print("1-10")
elif n>=11:
    print("out of range")
else:
    print("its 0")
    
n=3
if n ==3 or n==5:
    print("Hellow world")
    
#nested:
if True:
    if n==5:
        print(5)
    elif n==3:
        print(3)

its 5
1-10
Hellow world
3

In [109]:
#i++ is not allowed do i+=1 or i=i+1
i=0
i+=1
print(i) # 1

1

In [61]:
#while loop
i=0;
while i<6:
    i+=1;
    print(i);
    
i=0;
print()
while True: #odd wile loop
    i+=1;
    print(i);
    if i == 6:
        break

1
2
3
4
5
6

1
2
3
4
5
6

In [74]:
#for loop   #i=0,i<6
for i in range(6): #0 to 5
    print(i)
    
print() #i=0,i<7
for i in range(7): #0 to 6 
    print(i)
    
print()        #i=1,i<7
for i in range(1,7): #1 to 6
    print(i)

print()        #i=6,i<0,i-=1
for i in range(6,0,-1): #1 to 6 in reverse order
    print(i)

0
1
2
3
4
5

0
1
2
3
4
5
6

1
2
3
4
5
6

6
5
4
3
2
1

In [99]:
#list
a=[1,2,3,4,5]

print(a) # [1,2,3,4,5]
print()#new line
print(a[0]) # 1
print()#new line
print(len(a)) # 5
print()#new line

#list + for loop method one
for i in range(len(a)):
    print(a[i])
print()#new line

#list + for loop method two
for items in a:
    print(items)
print()#new line
    
b=[[1,2],[2,3],[3,4]] #nested list
print(b) #[[1,2],[2,3],[3,4]]
print()#new line
print(b[0]) #[1,2]
print()#new line
print(b[0][0])# 1
print()#new line
print(len(b)) # 3
print()#new line
print(len(b[0])) # 2
print()#new line
#nested list + loop
for i in range(len(b)):
    for j in range(len(b[i])):
        print(b[j])
print() #new line

x = ["apple", "banana", "cherry"]

del x[0] #it will del index 0

print(x) #['banana', 'cherry']
print()
fruits = ['apple', 'banana', 'cherry']

fruits.remove("banana")#it will remove bannana from fruits
print(fruits) # ['apple', 'cherry']

[1, 2, 3, 4, 5]

1

5

1
2
3
4
5

1
2
3
4
5

[[1, 2], [2, 3], [3, 4]]

[1, 2]

1

3

2

[1, 2]
[2, 3]
[1, 2]
[2, 3]
[1, 2]
[2, 3]

['banana', 'cherry']

['apple', 'cherry']

In [101]:
#touple
a =(1,2,3)
print(a)#(1, 2, 3)
print()#new line
#we cant insert new value to touple
#but if we want to insert new value to touple we have to convert touple into list then anain into touple
a=list(a)#touple to list
a.insert(3,7)#insert into 0 to 3rd index
a=tuple(a)#list to touple
print(touple)#(1, 2, 3,7)
print()#new line
#touple same as list but its not mutable 
#we cant insert but we can sum two touple together 
b=(8,9,10)# new touple
print(a+b)# (1, 2, 3, 7, 8, 9, 10)

#**Tuples are unchangeable, so you cannot remove items from it, but you can delete the 
#**tuple completely using the del keyword12. The del keyword can delete the entire tuple
del b
print(b) # will give error bc we deleted b

(1, 2, 3)

[1, 2, 3, 7]

(1, 2, 3, 7, 8, 9, 10)

NameError: name 'b' is not defined

In [111]:
#dictionary 
graph = { #"A" is key and [("B",2),("C",3)] is values
    "A":[("B",2),("C",3)], # key:value -> value can be list,tuple string , number , anything.....
    "B":[("C",1)],
    "C":[]
    
}
graph["D"]=[("A",2)] #New value Added With New Key
graph["D"].append(("B",3))#New value Added To The Existing Key
print(graph)#print graph

car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

x = car.keys() # this will print keys only

print(x)# dict_keys(['brand', 'model', 'year'])

{'A': [('B', 2), ('C', 3)], 'B': [('C', 1)], 'C': [], 'D': [('A', 2), ('B', 3)]}
dict_keys(['brand', 'model', 'year'])

In [44]:
g=dict(a =[("b",2),("c",3)],b=[("c",1)],c=[]) #dictionary diclaraion using dict 
print(g)

{'a': [('b', 2), ('c', 3)], 'b': [('c', 1)], 'c': []}

In [55]:
#input a graph to the dictionary 
graph ={}

nNode,nEdge = input("Enter number of Node and Edge:").split()
nNode=int(nNode)
nEdge=int(nEdge)

for _ in range(nEdge):
    source ,des,weight=input("source Des weight: ").split()
    
    if source not in graph:
        graph[source]=[(des,weight)]
    else:
        graph[source].append((des,weight))
print(graph)

Enter number of Node and Edge:4 5
source Des weight: a b 2
source Des weight: a c 3
source Des weight: b c 1
source Des weight: d a 2
source Des weight: d b 3
{'a': [('b', '2'), ('c', '3')], 'b': [('c', '1')], 'd': [('a', '2'), ('b', '3')]}